<div class="container" style="text-align:center;">
    <img src="dummy/logo-footer.png" alt="SPLICE">
    <address>
        <p>Oshawa, Ontario. <br> <a href="mailto:Splice.ca@gmail.com"splice.ca@gmail.com</a></p> 
    </address> 
    
    <div class="social-links">
        <a href="#"><i class="fa fa-facebook-square"></i></a> | 
        <a href="#"><i class="fa fa-snapchat"></i> @Spliceofficial</a> | 
        <a href=""><i class="fa fa-instagram"></i></a>
    </div> <!-- .social-links -->
    
    <p class="copy">Copyright 2018 Splice Official. All right reserved</p>
</div>
