<div class="container">
    <img src="dummy/logo-footer.png" alt="SPLICE">
    
    <address>
        <p>Oshawa, Ontario <br><a href="">Phone #</a> <br> <a href="mailto:info@bandname.com">info@bandname.com</a></p> 
    </address> 
    
    <div class="social-links">
        <a href="#"><i class="fa fa-facebook-square"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-google-plus"></i></a>
        <a href="#"><i class="fa fa-pinterest"></i></a>
    </div> <!-- .social-links -->
    
    <p class="copy">Copyright 2018 Splice Official. All right reserved</p>
</div>
