<div class="container">
    <a href="{{ 'home'|page }}" id="branding">
        <!--<img src="dummy/logo.png" alt="Splice Official">-->
        <h1 class="band-logo">SPLICE</h1>
        <small class="site-description">Splice</small>
    </a> <!-- #branding -->
    
    <nav class="main-navigation">
        <button type="button" class="toggle-menu"><i class="fa fa-bars"></i></button>
        <ul class="menu">
            <li class="menu-item {% if this.page.id == 'home' %}current-menu-item{% endif %}"><a href="{{ 'home'|page }}">Home</a></li>
            <li class="menu-item {% if this.page.id == 'home' %}current-menu-item{% endif %}"><a href="{{ 'about'|page }}">About</a></li>
            <li class="menu-item {% if this.page.id == 'home' %}current-menu-item{% endif %}"><a href="{{ 'gallery'|page }}">Gallery</a></li>
            <li class="menu-item {% if this.page.id == 'home' %}current-menu-item{% endif %}"><a href="{{ 'gigography'|page }}">Gigography</a></li>
            <li class="menu-item {% if this.page.id == 'home' %}current-menu-item{% endif %}"><a href="{{ 'contact'|page }}">Contact</a></li>
        </ul> <!-- .menu -->
    </nav> <!-- .main-navigation -->
    <div class="mobile-menu"></div>
</div>
