==
<div class="col-md-6">
    <div class="feature">
        <figure class="cut-corner">
            <img src="{{ 'assets/images/band/3.png'|theme }}" alt="">
        </figure>
        <h3 class="feature-title">Toronto Opera House: May 25th, 2018</h3>
        <p>
            The Toronto Opera House show was on May 25th 2018, 300 people were in attendance, 62 of whom bought tickets to see Splice. 
            Prior to the show beginning, the band order for this showcase show was rearranged and time slots were pushed around, though 
            Splice got on stage around 10:30 PM and performed until 11 PM, capturing the attention of the entire building in a way that 
            no other band could achieve that night. Live debut of Bipolar, Veinduze, and Elephantasia. 
        </p>
        <p>
            Setlist:
            <br/>
            Honey / Bipolar / Jerry Loom / Veinduze / Smoke / Elephantasia
        </p>
    </div> <!-- .feature -->
</div>
<div class="col-md-6">
    <div class="feature">
        <figure class="cut-corner">
            <img src="{{ 'assets/images/band/76.png'|theme }}" alt="">
        </figure>
        <h3 class="feature-title">Oshawa Atria: June 30th, 2018</h3>
        <p>
            The Oshawa Atria show took place on June 30th 2018 and was attended by 35 people. 
            Show was scheduled to take place at 9:30 but was pushed back to 10:15 because of the sound engineer being high on crack cocaine. 
            A staggering performance that included the debut of the band's jam of Jordan by Buckethead. 
            The band met Sloan after the show ended and were given three balloons after loudly playing their hits outside of their tour bus.
        </p>
        <p>
            Setlist: 
            <br/>
            Honey / Jordan -> Veinduze / Jerry Loom / Bipolar / Smoke / Elephantasia
        </p>
    </div> <!-- .feature -->
</div>