==
<div class="event">
    <div class="entry-date">
        <div class="date">20</div>
        <span class="month">Jul</span>
    </div>
    <h2 class="entry-title"><a href="#">Toronto Adelaide Hall</a></h2>
    <p>
        You don't want to miss it!
    </p>
</div> 

<div class="event">
    <div class="entry-date">
        <div class="date">10</div>
        <span class="month">Aug</span>
    </div>
    <h2 class="entry-title"><a href="#">Ottawa Live@Live Session</a></h2>
    <p>
        Get ready Ottawa!
    </p>
</div>